
.header__menu li a {
  font-size: 3vw;
}


/* ================================
   VISUAL
================================ */

/* WebGL 모바일 안정화 */
#visual_dimension {
  margin-top: 7%;
}

#webgl {
  opacity: 0.6;
  width: 100% !important;
  height: 100% !important;
}

.visual_line_box ul li span {
  font-size: 1.8vw !important;
}

/* ================================
   ABOUT
================================ */

.about_inner {
  padding-bottom: 15%;
}

.about_text h3 {
  margin-top: 15%;
}

.about_text > div:first-child h3 {
  margin-top: 0;
}

.about_title .left_tit {
  font-size: 6vw !important;
}

.about_text p {
  font-size: 3vw;
  line-height: 1.5;
  margin-top: 0;
}




.animation_box .left_animation {
  width: 100% !important;
}


.right_animation {
  display: none !important;
}



.panel .webtext h3 {
  font-size: 3vw;
}

.webtext_title {
  margin-top: 2%;
}

.webtext_title p {
  font-size: 5vw;
}

.java_desc_title {
  font-size: 8vw;
  line-height: 1.2;
}

.java_desc {
  font-size: 4vw;
  line-height: 1.2;
  margin-top: 12%;
}

.h-button {
  padding: 5% 15%;
}

.java-wrap h3 {
  font-size: 3.6vw;
}


.contact_inner h2 {
  font-size: 3.4vw;
  line-height: 1.3;
}

.contact_desc p {
  font-size: 3vw;
}

.foot_left_title {
  font-size: 3.2vw;
}

.foot_right dl dt {
  font-size: 2.6vw;
}

.foot_left .info {
  width: 10vw;
  height: 10vw;
}